<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-uk">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Christian's Website &raquo; {{ page.title }}</title>
  <meta name="author" content="Christian Leonard Quale" />
  <link href="/css/main.css" rel="stylesheet" type="text/css" >
  
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-149885-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  
</head>
<body>
  <div class="header" >
    <a href="/index.html"><img src="/img/logo.png" alt="Christian's subsection of the internet"/></a>
  </div>
<div id="navbar">
<span class="inbar">
<ul>
<li><a href="/index.html"><span>Home</span></a></li>
<li><a href="/blog/"><span>Blog</span></a></li>
<li><a href="/about.html"><span>About Me</span></a></li>
<li><a href="/elsewhere.html"><span>Elsewhere</span></a></li>
<li><a href="/contact.html"><span>Contact</span></a></li>
</ul>
</span>
</div>
  <div class="content">
  {{ content }}
  </div>
</body>
</html>